.popup__container-texts-input, .popup__container-texts-input-name, .popup__container-texts-input-info{
  border: none;
  border-bottom: 1px solid;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 20px;
  margin-top: 50px;
}