body {
  background-color: #000;
}

.page {
  max-width: 1280px;
  height: 720px;
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
}

.header {
  margin: 0px 199px;
}

@media screen and (max-width : 1100px) {
  .header{
    margin: 0px 140px;
  }
}

@media screen and (max-width : 850px) {
  .header{
    margin: 0px 50px;
  }
}

@media screen and (max-width : 600px) {
  .header{
    margin: 0px 10%;
  }
}

.logo {
  padding-top: 45px;
}

.line {
  width: 100%;
  padding-top: 42px;
  color: #525252;
  border-bottom: solid 1px;
}

.content {
  margin: 0 199px;
  padding-top: 36px;
}

@media screen and (max-width : 1100px) {
  .content{
    margin: 0px 140px;
  }
}

@media screen and (max-width : 850px) {
  .content{
    margin: 0px 50px;
  }
}

@media screen and (max-width : 600px) {
  .content{
    margin: 0px 10%;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  position: relative;
}

.avatar {
  border-radius: 80px;
  width: 120px;
  height: 120px;
}

.profile__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
  justify-content: center;
}

.profile__description-name {
  color: #fff;
  margin: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.profile__description-info {
  color: #fff;
  margin: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.button{
  display: flex;
  gap: 180px;
}
.edit-button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url("/images/edit_button.svg");
  background-color: #000;
  margin: 30px 10px;
  border: 2px;
  cursor: pointer;
}

.add-button {
  background-repeat: no-repeat;
  background-image: url("/images/add_button.png");
  width: 150px;
  height: 50px;
  background-color: #000;
  margin: 30px auto;
  border: 2px;
  cursor: pointer;
}

@media screen and (max-width : 975px) {
  .button{
    gap: 60px;
  }
}

@media screen and (max-width : 670px) {
  .button{
    gap: 0px;
  }
}

@media screen and (max-width : 600px) {
  .profile{
    display: flex;
    flex-direction: column;
  }

  .profile__description{
    padding-left: 0px;
  }
}



.popup{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 40%);
  display: none;
}

.popup_opened{
  display: block;
}

.popup__container{
  margin: 200px auto;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup__container-texts{
  display: flex;
  gap: 40px;
  flex-direction: column;
  border: none;
}

.popup__container_title{
  margin: 0px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #000;
  }
.popup__container_input{
  border: none;
  border-bottom: 1px solid;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
}

.popup__btn_closed{
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  left: 420px;
  bottom: 220px;
  background-color: #000;
  border: none;
}

.popup__btn_closed_images{
  align-self: end;
  left: 0;
  bottom: 20px;
}

.popup__handlers{
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 62px;
  color: #fff;
  margin: 0px;
}

.save__button{
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width : 560px) {
  .popup__container{
    width: 282px;
    height: 322px;
  }
}


.elements{
  padding-top: 42px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 16px;
  justify-content: center;
}


.card {
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 20px;
}


.card-photo {
  background-position: center;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card-photo-1 {
  background-image: url("../images/image-card-1.jpg");
}

.card-photo-2 {
  background-image: url("../images/image-card-2.jpg");
}

.card-photo-3 {
  background-image: url("../images/image-card-3.jpg");
}

.icons {
  position: relative;
}

.delete {
  position: absolute;
  bottom: 245px;
  left: 250px;
  z-index: 0;
  cursor: pointer;
}

.like {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.image__text {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  justify-content: center;
}

@media screen and (max-width : 1100px) {
  .elements{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
  
}

@media screen and (max-width : 600px) {
  .elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

.img__container{
  position: relative;
  width: 100%;
  height: 100%;
}

#img-card-popup{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 20px;
}

@media screen and (max-width : 560px) {
  #img-card-popup{
    border-radius: 20px;
    height: 322px;
  }
  
}

.like:hover, .delete:hover, .edit-button:hover, .add-button:hover, .popup__btn_closed:hover{
  color: #131212;
  opacity: 0.5;
  transition: 1s ease-in-out forwards;
}

.save__button:hover{
  color: #87838347;
  opacity: 0.8;
  transition: 1s ease-in-out forwards;
}