.save__button{
  height: 50px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.save__button:hover{
  color: #87838347;
  opacity: 0.8;
  transition: 1s ease-in-out forwards;
}